/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NAV 1
#define CTRLS 2
#define NUM 3
#define SYM 4
#define FN 5

/ {
   keymap {
      compatible = "zmk,keymap";

      default_layer {
         bindings = <
            &none &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &none
            &none &th_tap LCMD A &th_tap LALT S &th_tap LCTRL D &th_tap LSHFT F &kp G &kp H &th_tap RSHFT J &th_tap RCTRL K &th_tap RALT L &th_tap RCMD APOS &none
            &none &th_tap LG(LA(LC(LSHFT))) Z &kp X &kp C &kp V &th_tap LA(LC(LSHFT)) B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &none
            &lt CTRLS ESC &lt NAV SPACElt NUM TAB lt SYM ENTER lt NUM BSPC &lt FN DEL
            >;
      };

      navigation {
         bindings = <
            &none &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none &none &none &none &none &none
            &none &kp LCMD &kp LALT &kp LCTRL &kp LSHFT &none &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none
            &none &none &none &none &none &none &none &none &none &none &none &none
            &none &none &none &kp ENTER &kp BSPC &kp DEL
            >;
      };

      controls {
         bindings = <
            &none &none &none &none &none &none &none &none &none &none &none &none
            &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &kp C_PREV &kp C_VOL_UP &kp C_VOL_DN &kp C_NEXT &none
            &none &none &none &none &none &none &none &none &none &none &none &none
            &none &none &none &kp C_STOP &kp C_PLAY &kp C_MUTE
            >;
      };

      numbers {
         bindings = <
            &none &kp LBKT &kp N7 &kp N8 &kp N9 &kp RBKT &none &none &none &none &none &none
            &none &kp SEMI &kp N4 &kp N5 &kp N6 &kp EQUAL &none &kp RSHFT &kp RCTRL &kp RALT &kp RCMD &none
            &none &kp GRAVE &kp N1 &kp N2 &kp N3 &kp BSLH &none &none &none &none &none &none
            &none &kp DOT &kp N0 &none &none &none
            >;
      };

      symbols {
         bindings = <
            &none &kp LBRC &kp AMPS &kp STAR &kp LPAR &kp RBRC &none &none &none &none &none &none
            &none &kp SEMI &kp DLLR &kp PRCNT &kp CARET &kp PLUS &none &kp RSHFT &kp RCTRL &kp RALT &kp RCMD &none
            &none &kp GRAVE &kp EXCL &kp AT &kp HASH &kp PIPE &none &none &none &none &none &none
            &none &kp LPAR &kp RPAR &none &none &none
            >;
      };

      functions {
         bindings = <
            &none &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &none &none &none &none &none &none
            &none &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &none &kp RSHFT &kp RCTRL &kp RALT &kp RCMD &none
            &none &kp F11 &kp F12 &kp F13 &kp F14 &kp F15 &none &none &none &none &none &none
            &none &none &none &none &none &none
            >;
      };
};
